<p-dialog
  header="You Lose!!"
  [modal]="true"
  [closable]="false"
  [(visible)]="open"
>
  <div class="grid" style="width: 600px;">
    <div class="col-12">
      <div class="grid" style="color: rgb(79, 79, 79)">
    </div>
    </div>
    <div class="col-12">
      <div style="color: rgb(155, 155, 155); height: 35px;font-size: 16px;">
        กด Enter ลองอีกครั้ง
      </div>
      <button
        pButton
        type="button"
        label="ลองใหม่"
        style="width: 100%"
        class="p-button-secondary"
      ></button>
    </div>
  </div>
</p-dialog>
