<p-dialog
  header="Google อ่านคำ"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="googleTTS"
>
  <div style="width: 500px; margin-top: -30px">
    <h6>
      *เนื่องจากปัญหาลิขสิทธ์ของ Google จึงไม่สามารถใช้ระบบพูดอัติโนมัติได้
      ผู้ใช้ต้องกดโหลดเสียงและ Upload เอง
    </h6>

    <hr />

    <div class="grid">
      <div class="col-6">
        <div style="text-align: center">
          เสียงพูด: {{ " " + GoogleTTSText }}
          <br />
          <br />
          <button
            pButton
            (click)="goToLink(GoogleTTSURL)"
            pRipple
            type="button"
            label="ดาวน์โหลดเสียง"
            style="font-size: 15px"
          ></button>
        </div>
      </div>
      <div class="col-6">
        <style>
          :host ::ng-deep .p-button.p-fileupload-choose {
            position: relative;
            overflow: hidden;

            font-size: 15px;
          }
        </style>
        <div style="text-align: center">
          Upload เสียง
          <br />
          <br />
          <span id="duration"></span>
          <p-fileUpload
            #fubauto
            accept="audio/mpeg"
            mode="basic"
            (uploadHandler)="uploadSoundGoogleTTS($event, fubauto)"
            [customUpload]="true"
            style="width: 30px"
            [auto]="true"
            chooseLabel="ไฟล์เสียง"
          ></p-fileUpload>
          <div style="font-size: 12px">Filename: {{ GoogleUIFilename }}</div>
          <div style="font-size: 12px">
            Upload: {{ GoogleUIUploadStatus }}
            <b
              ><span style="cursor: pointer; color: rgb(84, 146, 216)"
                >ลบออก</span
              ></b
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="ลบด่านนี้ทั้งหมด"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="deleteData"
>
  <button
    pButton
    pRipple
    type="button"
    (click)="deleteAllGame()"
    label="ตกลง"
    style="width: 100%"
  ></button>
</p-dialog>

<p-dialog
  header="แก้ไขตัวอักษร"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="editData"
>
  <div style="text-align: center">
    <box
      addMode="edit"
      text="{{ editTextData }}"
      (onAdd)="changeText($event)"
    ></box>
  </div>
  <br />
  <button
    pButton
    pRipple
    type="button"
    (click)="saveText()"
    label="ตกลง"
    style="width: 100%"
  ></button>
</p-dialog>

<p-dialog
  header="URL"
  [dismissableMask]="true"
  [modal]="true"
  [(visible)]="URLDisplay"
>
  <div style="width: 500px">
    <h4>URL ทั้งหมด</h4>
    <input
      disabled
      value="{{ 'https://typingblind.web.app/play/' + this.idURL }}"
      type="text"
      pInputText
      placeholder="URL"
      style="width: 100%"
    />
    <div style="height: 5px"></div>
    <button
      pButton
      pRipple
      type="button"
      (click)="copy('https://typingblind.web.app/play/' + this.idURL)"
      label="คัดลอก"
      style="height: 30px; font-size: 12px"
    ></button>
    <h4>ID เกม</h4>
    <input
      disabled
      value="{{ this.idURL }}"
      type="text"
      pInputText
      placeholder="URL"
      style="width: 100%"
    />
    <div style="height: 5px"></div>
    <button
      pButton
      pRipple
      type="button"
      (click)="copy(this.idURL)"
      label="คัดลอก"
      style="height: 30px; font-size: 12px"
    ></button>
  </div>
</p-dialog>

<main-loading [hidden]="load" [text]="this.text"></main-loading>

<html class="noselect">
  <body style="background-color: rgb(62, 66, 68); height: 100vh">
    <div class="grid" style="margin: 0; padding: 0">
      <div class="col-6" style="margin: 0; padding: 0">
        <button
          pButton
          pRipple
          type="button"
          label="ย้อนกลับ"
          style="color: white"
          class="p-button-secondary p-button-text"
          (click)="gotoHome()"
        ></button>
      </div>
      <div class="col-6" style="margin: 0; padding: 0">
        <button
          pButton
          pRipple
          type="button"
          label="สร้าง URL"
          style="color: white; float: right"
          class="p-button-secondary p-button-text"
          (click)="URLDisplay = true"
        ></button>
      </div>
    </div>

    <div class="grid" style="padding: 5px; margin: 5px; position: relative">
      <div class="col-fixed test tab-bar">
        <tab
          [list]="this.data"
          [selectIndex]="hoverButGame"
          (onAdd)="add()"
          (onClickRestore)="restore($event)"
          (onClickGame)="changeGame($event)"
        ></tab>
      </div>
      <div class="col test list-bar">
        <div
          style="
            position: sticky;
            top: -9px;
            background-color: rgb(182, 182, 182);
            border-radius: 10px;
          "
          *ngIf="this.data.length > 0"
        >
          <div style="height: 8px"></div>
          <button
            pButton
            pRipple
            type="button"
            label="บันทึกรายการ"
            style="color: rgb(57, 57, 57); height: 20px"
            class="p-button-secondary p-button-text"
            (click)="save()"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            label="ลบด่านนี้"
            style="color: rgb(57, 57, 57); height: 20px"
            class="p-button-secondary p-button-text"
            (click)="showDialogDeleteData()"
          ></button>

          <button
            pButton
            pRipple
            [disabled]="
              this.data[this.hoverButGame].type.length == 0 ||
              this.data[this.hoverButGame].type[0].length == 0
            "
            type="button"
            label="Google เสียงอ่านคำ"
            style="color: rgb(57, 57, 57); height: 20px"
            class="p-button-secondary p-button-text"
            (click)="showDialogGoogleTTS()"
          ></button>

          <button
            *ngIf="
              this.data.length > 0 && this.data[this.hoverButGame]
                ? this.data[this.hoverButGame].onChange
                : false
            "
            pButton
            pRipple
            type="button"
            label="คืนค่าเดิม"
            style="color: rgb(57, 57, 57); height: 20px; float: right"
            class="p-button-secondary p-button-text"
            (click)="restore()"
          ></button>
          <hr />
        </div>
        <div style="padding: 10px">
          <div class="grid">
            <ng-container
              *ngIf="this.data.length > 0 && data[this.hoverButGame]"
            >
              <div class="col-12">
                ตัวอักษร:
                <input
                  type="text"
                  (change)="createWordByInput($event)"
                  value="{{data[this.hoverButGame].type.join('')}}"
                  pInputText
                  style="height: 20px; background-color: rgb(207, 207, 207)"
                />
                <br>
                <ng-container >
                  <label style="font-size: 12px">
                    ถ้าอักษรมากกว่า 10 ตัวจะไม่สะกดคำให้
                  </label>

                  <div class="field-checkbox">
                    <p-checkbox
                    [(ngModel)]="this.data[this.hoverButGame].imread"
                      (onChange)="imread($event)"
                      [binary]="true"
                      inputId="binary"
                    ></p-checkbox>
                    <label style="font-size: 15px" for="binary"
                      >บังคับอ่าน</label
                    >
                  </div>
                </ng-container>
              </div>
              <div
                *ngFor="let text of data[this.hoverButGame].type; let i = index"
                class="col-fixed"
                style="width: 120px"
              >
                <div style="margin: 0px">
                  <div
                    class="reveal-animation"
                    style="
                      width: 59px;
                      height: 28px;
                      border-radius: 50px;
                      text-align: center;
                      margin-bottom: -7px;
                      font-size: 15px;
                      color: white;
                      cursor: pointer;
                    "
                    type="button"
                    (click)="deleteEmemntGame(i)"
                  >
                    ลบออก
                  </div>

                  <style>
                    .reveal-animation {
                      background-color: rgb(210, 44, 44);
                    }
                    .reveal-animation:hover {
                      background-color: rgb(255, 1, 1);
                    }
                  </style>
                </div>
                <box
                  text="{{ text }}"
                  [playIndex]="i"
                  [playIndexSelectColor]="-1"
                  (onAdd)="showDialogEditData(i)"
                ></box>

                <div
                  *ngIf="text == ''"
                  style="
                    font-size: 12px;
                    color: rgb(255, 255, 255);
                    background-color: rgb(165, 165, 165);
                    border-radius: 10px;
                    padding: 5px;
                    margin-top: 5px;
                    text-align: center;
                  "
                >
                  กดใส่ตัวอักษร
                </div>
              </div>
            </ng-container>
            <div
              class="col-fixed"
              style="width: 130px; margin-top: 18px"
              *ngIf="this.data.length > 0"
            >
              <box addMode="emtpy" text="+" (onAdd)="addText()"></box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  html {
    width: 100%;
    height: 100%;
  }

  body {
    margin: -8px;
    padding: -8px;
    overflow-x: hidden;
  }

  hr {
    background-color: rgb(173, 173, 173);
    height: 1px;
    border: 0;
  }

  .tab-bar {
    width: 300px;
    height: 80vh;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    overflow: auto;
  }

  .list-bar {
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    margin-left: 10px;
    overflow-x: auto;
    height: 80vh;
  }
</style>
