<p-dialog
  header="อ่านออกเสียง"
  [modal]="true"
  [closable]="false"
  [(visible)]="displayInputPlay"
>
  <br />
  <div class="grid">
    <ng-container *ngFor="let i of data.type; let index = index">
      <div class="col-fixed" style="width: 150px">
        <box
          [playIndex]="index"
          [playIndexSelectColor]="intoPopupIndexPlay"
          text="{{ i }}"
        ></box>
      </div>
    </ng-container>
  </div>
  <br />
  กด enter เพื่อเริ่มเกม <br />
  ฟังอีกครั้งกด specbar
</p-dialog>

<count [hidden]="runTime" #countTime></count>
<lose [open]="min == 1" #losePopup></lose>
<win
  #winPopup
  [open]="endGame == true && runTime == false && min == 0"
  [time]="this.sec"
  [miss]="KeyMistake"
  [pass]="keyPass"
></win>

<html>
  <body style="background-color: rgb(96, 96, 96); height: 100vh">
    <div class="grid" style="padding: 10px">
      <div class="col-12" style="height: 70px">
        <button
          pButton
          pRipple
          type="button"
          style="color: white"
          label="ด่านที่ {{data.game+1}}"
          class="p-button-text"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          style="color: white; float: right"
          label="ออกจากเกม"
          class="p-button-text"
        ></button>
      </div>
      <div class="col-12" style="width: 100%; height: 320px">
        <div class="grid outer" style="margin: auto">
          <ng-container *ngFor="let i of data.type; let index = index">
            <div class="col-fixed" style="width: 130px">
              <box
                [playIndex]="index"
                [playIndexSelectColor]="pass"
                text="{{ i }}"
              ></box>
            </div>
          </ng-container>
        </div>
      </div>
      <div
        class="col-12"
        style="height: 180px; background-color: rgb(129, 129, 129)"
      >
        <keybay
          (mistake)="setMistake()"
          (endGame)="setEnd()"
          (pass)="setPass($event)"
          [right]="keybarCopy"
          #keybar
        ></keybay>
      </div>
    </div>
    <div style="color: white">
      <div class="grid" style="padding: 10px">
        <div class="col-6">
          <span>เวลา 0{{ min }}:{{ sec }}</span> {{ " | " }}
          <span>ถูกต้อง {{ keyPass }}</span> {{ " | " }}
          <span>ผิด {{ KeyMistake }}</span>
        </div>

        <div class="col-6">
          <span style="float: right">คะแนน {{ 0 }}</span>
        </div>
      </div>
    </div>
    <div></div>
  </body>
</html>

<style>
  html {
    width: 100%;
    height: 100%;
  }

  body {
    margin: -8px;
    padding: -8px;
    overflow-x: hidden;
  }

  .popup {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
</style>
